<div id="<%= dom_id scheme %>">
  <p>
    <strong>Name:</strong>
    <%= scheme.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= scheme.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= scheme.rating %>
  </p>

</div>
