<p style="color: green"><%= notice %></p>

<h1>TOP Schemes</h1>

<div id="schemes">
  <% @schemes.each do |scheme| %>
    <%= render scheme %>
    <p>
      <%= link_to "Show this scheme pp", scheme %>
    </p>
  <% end %>
</div>
